# System files
.DS_Store
Thumbs.db

# Log files
*.log

# Dependency directories
node_modules/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist/
build/